<h1 align="center"> <b> Самые вкусные печенья ниже! </b> </h1>

<br/>

<div class="row">
	<% @cookie.each do |cs| %>
		<div class="col-md-4">
			<ul align="center" class="list-group">
			  <li class="list-group-item"><img src="<%= cs.path_to_image %>" width="200" height="150"></li>
			  <li class="list-group-item"> <h5><b><%= cs.title %></b></h5> <br/> <%= cs.description %> </li>
			  <li class="list-group-item"> <b><%= cs.price %></b> руб. (<b><%= cs.size %>г</b>) </li>
			</ul>
		</div>
	<% end %>
</div>