<br/>
<h1 align="center"> <b> Сладкоежка - делаем вашу жизнь слаще! </b> </h1>

<br/>

<div class="row">
	<% @pie.each do |p| %>
		<div class="col-md-4">
			<ul align="center" class="list-group">
			  <li class="list-group-item"><img src="<%= p.path_to_image %>" width="200" height="150"></li>
			  <li class="list-group-item"> <h5><b><%= p.title %></b></h5> <br/> <%= p.description %> </li>
			  <li class="list-group-item"> <b><%= p.price %></b> руб. </li>
			  <button class="btn btn-sm btn-success" onclick="add_pie_box(<%= p.id %>)">Добавить в корзину</button>
			</ul>
		</div>
	<% end %>
</div>

<br/>

<div class="row">
	<% @cake.each do |c| %>
		<div class="col-md-4">
			<ul align="center" class="list-group">
			  <li class="list-group-item"><img src="<%= c.path_to_image %>" width="200" height="150"></li>
			  <li class="list-group-item"> <h5><b><%= c.title %></b></h5> <br/> <%= c.description %> </li>
			  <li class="list-group-item"> <b><%= c.price %></b> руб. </li>
			</ul>
		</div>
	<% end %>
</div>

<br/>

<div class="row">
	<% @cookie.each do |cs| %>
		<div class="col-md-4">
			<ul align="center" class="list-group">
			  <li class="list-group-item"><img src="<%= cs.path_to_image %>" width="200" height="150"></li>
			  <li class="list-group-item"> <h5><b><%= cs.title %></b></h5> <br/> <%= cs.description %> </li>
			  <li class="list-group-item"> <b><%= cs.price %></b> руб. </li>
			</ul>
		</div>
	<% end %>
</div>